@model IEnumerable<K22CNT3_DinhQuocDat_2210900139.Models.ChiTietDonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonHang.MaDonHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSanPham)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonHang.MaDonHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaChiTietDonHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaChiTietDonHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaChiTietDonHang })
        </td>
    </tr>
}

</table>
